


<span style="color:red;">
    Directly Paste These Links To Your "Valid OAuth Redirect URIs" box <br>
here is link; <br>
<br>
https://developers.facebook.com/apps/YOUR_APP_ID/fb-login/settings/<br> <br>
</span>

{foreach $socialFacebook as $facebook }
<li>{$facebook}</li>
{/foreach}

<br>


<form  method="POST" action="#">

    <input type="hidden" name="update_social_options" value="1">

    <div class="form-group">
        <label for="app-id">APP ID</label>
        <input class="form-control" type="text" value="{$appId}" placeholder="App Id" name="appId" id="app-id">
    </div>

    <div class="form-group">
        <label for="app-secret">APP SECRET</label>
        <input class="form-control" value="{$appSecret}" placeholder="App Secret" type="text" name="appSecret" id="app-secret">
    </div>





<br>

<hr>

<br>

    {foreach $socialGoogle as $google }
        <li>{$google}</li>
    {/foreach}
    <br>
    <div class="form-group">
        <label for="google_plus_client_id">Google Plus Client ID</label>
        <input class="form-control" type="text" value="{$google_plus_client_id}" placeholder="Google Plus Client ID" name="google_plus_client_id" id="google_plus_client_id">
    </div>

    <div class="form-group">
        <label for="google_plus_client_secret">Google PLus Client Secret</label>
        <input class="form-control" value="{$google_plus_client_secret}" placeholder="Google PLus Client Secret" type="text" name="google_plus_client_secret" id="google_plus_client_secret">
    </div>

    <button class="btn btn-primary btn-lg pull-right">Save</button>

</form>