<p>

    {if $isLogged == false}
        <a href="{$facebookLoginUrl nofilter}">FACEBOOK AUTH</a>
    {/if}

    <br>

    {if $isLogged == false}
        <a href="{$googleLoginUrl nofilter}">GOOGLE AUTH</a>
    {/if}

</p>
